body{
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}
.navigation > div{
    color: black;
    display: inline-block;
    vertical-align: middle;
}
.navigation-link > a{
    display: inline-block;
}
.nav-ul > li{
    display: inline-block;
    margin: 20px;
    text-decoration: none;
}

.nav-ul > .btn-small{
    background-color: blue;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
.nav-ul > li > a{
    text-decoration: none;
    font-size: 20px;
}
.nav-ul > .btn-small > a{
    color: white;
    text-decoration:  none;
}

.slogan{
    padding: 300px 0 150px;
    background: url("https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg") no-repeat;
    background-size: cover;
    text-align: center;
}
.slogan > h1{
    font-size: 60px;
}
.slogan > a{
    background-color: blue;
    padding: 20px 30px;
    text-decoration: none;
    color: white;
    border-radius: 10px;


}